@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #f0f9ff;
  --secondary-bg: #F9FAFB;
  /* This is equivalent to bg-gray-50 */
  --primary-text-color: #1F2937;
  /* This is equivalent to text-gray-800 */
  --secondary-text-color: #4B5563;
  /* This is equivalent to text-gray-600 */
  --tertiary-text-color: #6B7280;
  /* This is equivalent to text-gray-500 */
  --component-color: #ffff;
  --sidebar-width: 256px;
  --primary-color: #0ea5e9;
  --secondary-color: #f0f9ff;
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--text-color);
  }
}

[data-theme="dark"] {
  --background: #183153;
  --secondary-bg: #1c4072;
  --primary-text-color: #f0f9ff;
  --secondary-text-color: #94a3b8;
  --tertiary-text-color: #6B7280;
  --component-color: #0d2342;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  background: #fff;
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--component-color);
  border-radius: 10px;
}

body {
  height: 100%;
  width: 100%;
  overflow: auto;
  margin: 0;
  color: var(--text-color);
  background: var(--background);
  font-family: 'Inter', sans-serif;
  transition: background 0.3s ease, color 0.3s ease;
}

button {
  cursor: pointer;
}

p {
  font-family: 'Poppins', sans-serif;
}